/* VAIÁVEIS */

// colors

$color1: #004f6a;
$color2: #006182;
$color3: #00a7de;
$color4: #a9ff48;
$color5: #005470;
$color6: #15afe1;

// medidas
// medidas carrossel

$w-carrossel-itens: 150%;
$w-carrossel-height: 500px;


// urls
$img-url: "../images";

// fonts
$font-one: 'Poppins', sans-serif;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
$font-black: 900;


 





/* /VAIÁVEIS */